       <div class="card" *ngIf="vehicle" ng>
            <div class="card-body" *ngIf="warehouse">
                <div class="card-heading">
                    <h5 class="card-title">{{vehicle.make}} {{vehicle.model}}</h5> <h5 class="card-price">{{vehicle.price}}$</h5>
                </div>
              <div class="row">
                  <div class="col-6 additional-section">
                    <h6 class="card-subtitle mb-2 text-muted">{{vehicle.year}}</h6>
                    <p class="additional-info">Date added - {{vehicle.date_Added}}</p>
                    <p class="additional-info">potential</p>
                    <p class="additional-info">potential</p>
                    <p class="additional-info">potential</p>
                    <p class="additional-info">potential</p>
                    <p class="additional-info">potential</p>
                  </div>
                  <div class="col-6 car-image">
                    <div class="mercedes-img"></div>
                  </div>
              </div>
              <button type="button" class="btn btn-primary details-button" *ngIf="vehicle.licensed" (click)="onClick(vehicle, warehouse)">Show details</button>
              <button type="button" class="btn btn-primary disabled" *ngIf="!vehicle.licensed">Show details</button>
              <button type="button" class="btn btn-secondary button-add-to-cart" *ngIf="vehicle.licensed && !inCart" (click)="onAddCart(vehicle)">Add to cart</button>
              <button type="button" class="btn btn-secondary disabled button-add-to-cart" *ngIf="!vehicle.licensed">Add to cart</button>
              <button type="button" class="btn btn-secondary button-remove-to-cart" *ngIf="inCart" (click)="onRemoveCart(vehicle)">Remove from cart</button>
            </div>
        </div>