.card-heading{
    margin-bottom: 10px
}

.card-title{
    display:inline;
    margin-right: 20px;
}

.card-price{
    display:inline;
    float: right;
}

.card-text{
    max-width: 18rem;
}

.card *{
    background-color:honeydew;
    color:black;
}

.mercedes-img{
    background-image: url('/assets/images/Mercedes.png');
    background-size:contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    background-position: right;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card{
    width: 47%;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}

.additional-info{
    margin-bottom: 0px;
}

.car-image{
    align-self: center;
}

button.disabled{
    background-color:lightgrey!important;
    border-color: lightgray;
    cursor: default;
}

button{
    background-color:greenyellow!important;
    border-color: greenyellow;
    margin-top:25px;
}

.button-add-to-cart{
    float:right;
}

@media only screen and (max-width: 850px) {
    .card{
        margin: auto;
        display: block;
        width: 80%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .mercedes-img{
        display: none;
    }
    .card-title{
        display: block;
    }
    .card-price{
        float:none;
        margin-bottom:5px;
    }
    .additional-section{
        min-width: 100%;
    }
}