.navbar{
    background: linear-gradient(to bottom, #202020, #111119);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 67.5em;
}

.navbar *{
    color: aliceblue;
}

.nav-wrapper{
    background: linear-gradient(to bottom, #202020, #111119);
    height: 56px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.shopping-cart{
    cursor: pointer;
}

.shopping-price{
    display: inline;
    position: absolute;
    margin-left: 10px;
}

.shopping-amount{
    position: absolute;
    top: -10px;
    left: -10px;
}

.shopping-cart-wrapper{
    position: absolute;
    right: 140px;
}

@media only screen and (max-width: 575px) {
    .shopping-cart-wrapper{
        top: 60%;
    }
    }